[Unit]
Description=Start the "starter" program
After=ac.service deviced.service launchpad-preload.service

[Service]
EnvironmentFile=/run/tizen-system-env
ExecStart=/usr/bin/starter
Restart=always
RestartSec=0
KillSignal=SIGKILL

[Install]
WantedBy=tizen-system.target
